<!DOCTYPE html>
<html lang="pt-BR>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="classId.css">
    <title>Diferença entre Class e Id</title>
</head>
    <h1 id="tituloPrincipal">
        Estudo de Class e Id
    </h1>

    <p class="intro">
        Antes de começar deixarei logo destacado que na utilização de CSS, é possível simplificar a sintaxe do código simplesmente colocando hashtag(#) antes do nome do id criado no HTML e ponto (.) antes do nome da class criada no HTML.
    </p>
    <p class="intro">
        Além disso, a utilização dessas duas tags no HTML faz com que as CSS possuam também dois tipos de seletores, os genéricos e os personalizados.
        <br>
        Os genéricos são todos aqueles que não possuem nenhum atributo passado dentro de sua tag, ou seja, não possuem nem <code><ins>&lt;id&gt;</ins></code> nem <code><ins>&lt;class&gt;</ins></code>.
        <br>
        Em contrapartida os seletores personalizados possuem sua própria marcação (nome da Id ou o nome de uma Class) passada dentro da tag que se queira ser personalizada.
    </p>

    <h1 class="segundoTitulo">
        Usando class
    </h1>
    <p>
        O uso de class no HTML serve para especificar no arquivo em CSS o que será editado, serve para diferenciar tags que foram usadas mais de uma vez.
        <br>
        Por exemplo, foi usada a tag <code><ins>&lt;h1&gt;</ins></code> mais de uma vez, porém deseja-se usar diferentes estilos para ambos, então é necessário passar uma class dentro de cada tag especificando o nome daquela tag que será editada no CSS.
    </p>
    <p>
        É possível também usar class em diferentes tags e tudo que for editado no CSS utilizando essa class será aplicada em todas as tags do HTML que contiverem aquela class.
        <br>
        Também é possível que uma tag HTML possua mais de uma classe, ficando cada nome da classe separado por espaço, por isso deve-se usar class com nomes unitários, ou seja, cada palavra separada por underline, trasso ou começando a próxima palavra com letra maiúscula.
        <br>
        Quando utilizar mais de uma classe na tag, e esse classe tiver algumas formatações iguais no arquivo CSS, então a prioridade será dada para a primeira classe passada dentro da tag e assim por diante. Se a primeira classe passada tiver <code><ins>&lt;font-size:3em&gt;</ins></code> e a segunda classe tiver <code><ins>&lt;font-size:1em&gt;</ins></code>, então a página terá uma fonte com tamanho de 3em.
    </p>

    <h2>
        Pseudo-classes
    </h2>

    <div class="explicacaoSubTitulo">
        <p>
            Uma pseudo-classe CSS é uma palavra adicionada às declarações de um seletor após um sinais de dois pontos (:) e especificam um estado especial de um elemento.
            <br>
            Existem várias pseudo-classes para estilos, como o ::before, ::after, ::first-letter, ::hover.
        </p>
        <p>
            No caso dessa página eu criei dois seletores code no CSS, ambos genéricos, porém um deles contém uma pseudo-classe fazendo o código que aparece ná pagina ficar azul.
            <br>
            Eu havia tendado colocar ambos no mesmo seletor, sem passar nenhum id ou class, utilizando <code><ins>&lt;code:hover{}&gt;</ins></code>, porém a formatação somente acontecia quando eu passava o ponteiro em cima da palavra. No meu caso não é isso que eu esperava acontecer pois a parte contendo o código deve sempre ficar sempre com o mesmo tamanho de fonte.
        </p>
    </div>
    <p>
        Nessa parte da explicação tem um texto escondido, muito utilizado em menus que são mostradas somente ao passar o ponteiro por cima.
        <br>
        Eu tô tentando usar hover utilizando como seletor uma class porém não estou obtendo sucesso.
    </p>


    <h1 class="segundoTitulo">
        Usando Id
    </h1>
    <p>
        O id serve para identificar um elemento único dentro da página. Essa identificação permite que criemos um estilo especial para esse elemento único.
    </p>
    <p>
        No HTML devemos usar somente um id para um único elemento, ou seja, não se deve colocar o mesmo id para dois elementos diferentes do site, pois desse jeito, esse elemento não é mais considerado único. 
    </p>
    <p>
        No caso dessa página como exemplo, foi criado no CSS um seletor genérico colocando todo h1 centralizado no meio, um seletor id relacionado ao h1 não especificando a posição desse h1 e um outro seletor class também do h1 colocando o texto alinhado à esquerda. Com isso percebe-se que existe uma hierarquia dos seletores, onde primeiro será aplicado todos os estilos CSS passados dentro dos seletores personalizados (id e class) e depois será aplicado os estilos dos seletores genéricos (quando puder ser complementar àquele seletor personalizado).
    </p>

<body>
    
</body>

</html>