@charset "UTF-8";

body{
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 3em;
    color: blue;
    text-align: center;
}

#tituloPrincipal{
    background-color: bisque;
    color: black;
    font-size: 3em;
    border-radius: 20px;
}

.segundoTitulo{
    font-size: 2em;
    text-align: left;
}

p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;
}

.intro{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}