<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="explicando.css">
    <title>Módulo 2</title>
</head>


<body>
    <h1>
        Estudando CSS
    </h1>    

    <h2>
        Psicologia das cores.
    </h2>
    <div>
        <p>
            Absolutamente todos os sites atuarão com a psicologia das cores, então é extremamente necessário aprender pelo menos o básico sobre sua atuação, como ela funciona, como as empresas usam e como você usará.
        </p>
        <p>
            Segundo um dos grandes especialistas na área de otimização de conteúdos Neil Patel, ele afirma em seu artigo "Como cores afetam conversões" que as pessoas levam cerca de 90 segundos para decidir se querem ou não um produto, e que 90% dessa decisão se baseia na sua cor.
        </p>
        <p>
            As cores exprimem sentimentos e emoções para o subconsciente de quem a observa, mesmo que na maioria dos casos isso seja de forma inconsciente e a pessoa nem se quer perceba.
        </p>
        <p>
            Tendo a cor azul como exemplo, muitas empresas utilizam essa tonalidade como sua característica, empresas como HP, Meta, Twitter, Linkedin, Intel. Isso ocorre porque ela é citada como a cor favorita de 46% dos homens e 44% das mulheres e possui uma taxa de rejeição entre 1 e 2 porcento.
        </p>
    </div>
    <div>
        <p>
            O vídeo do Gustavo Guanabara passa bons exemplos de sites e suas cores:
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/A8UNBs7nxw4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <h2>
        Código das cores
    </h2>

    <div>
        <p>
            Para usar cores em css existem 3 jeitos de fazer isso: escrevendo o nome da cor (muito limitado), usando a contagem  hexadecimal ou utilizando RGB
        </p>
        <p>
            Para representar o azul em hexadecimal o código seria escrito assim: <code><ins>"background-color: #0000ff"</ins></code>. Isso quer dizer que os dois primeiros digitos representam vermelho, os dois próximos representam o verde e os dois últimos representam o azul. Por esse código percebe-se que não está usando nada de vermelho nem de verde, por isso estão em 00.
        </p>
        <p>
            Para representar a mesma cor utilizando o método RGB o código ficaria: <code><ins>background-color: rgb(0, 0, 255)</ins></code>. Seguindo a mesma regra que o código de cima, vermelho e verde não sendo utilizados e azul sendo totalmente utilizado. O limite de tonalidade das cores RGB é de 255.
        </p>
        <p>
            Também existe o método hsl (Hue,saturation,luminosity), porém não vejo ser muito utilizado e não é prático pra mim.
        </p>
        <p>
            O VsCode permite ainda editar essas cores com ainda mais precisão deixando o ponteiro em cima da cor e depois selecionado a partir da tabela que será aberta. Dentro dessa tabela também é possível alterar para o padrão RGB, hexadecimal ou HSL somente clicando no "título" que aparecerá na tabela. Nessa tabela que aparece ao repousar o ponteiro também é possível alterar a transparência da cor, ela fica do lado esquerdo da tabela vertical de cores. Quando ocorre a utilização de transparência, o padrão RGB se transforma em RGBA (a letra a é de alpha) e esse valor pode ser alterado entre 0 e 1. O mesmo ocorre com HSL
        </p>
    </div>

    <h2>
        Circulo cromático
    </h2>

    <img src="../public/images/Como-Fazer-o-Círculo-Cromático-e1596417017201-1024x589.jpg" alt="Paleta de cores">

    <div>
        <p>
            Uma paleta de cores para colocar em site tem em média de 3 a 5 cores, desconsiderando preto e branco.
        </p>
        <p>
            Outra dica é observar a cor predominante na logo, pois a paleta do site tem que ter uma pequena correlação com a logo.
        </p>
        <p>
            Ótimos sites para usar e criar cores são o Adobe colors, Paletton e Coolors.
        </p>
        <p>
            Para pegar uma cor de um site eu uso a extensão do Chrome chamada ColorZilla.
        </p>
        <p>
            Eu fiz o teste com cores monocromáticas nesse site e deu tudo certo, porém no site Teste de cores 1 não deu 100% certo.
        </p>
    </div>

    <h2>
        Tipografia
    </h2>
    <p>
        Johannes Gutenberg foi o criador da prensa mecânica de tipos móveis e foi considerado o pai da imprensa. Porém foi descoberto mais tarde que chineses já usavam da mesma tecnologia criada por Johannes.
    </p>

    <div>
        <img src="../public/images/O-Que-é-Tipografia.jpg" alt="Tipografia">
    </div>

    <br>

    <div>
        <img src="../public/images/images.jpg " alt="Tipografia">
    </div>

    <p>
        O site da <a href="https://www.w3schools.com/cssref/css_websafe_fonts.asp"> w3schools</a> tem algumas opções de família das fontes consideradas web safe fonts.
    </p>

    <p>
        Sempre é preferível colocar mais de uma opção de fonte no código caso ocorra algum problema de leitura do site. Além de colocar a fonte deve-se colocar também sua categoria de fonte no final para que o navegador possa escolher qual caligrafia usar baseada na categoria passada.
        <br>
        Acho que a fonte padrão do HTML é "Times New Roman".
    </p>

    <h3>
        Altura das fontes
    </h3>

    <p>
        As fontes possuem duas categorias de medidas: medidas absolutas e medidas relativas.
        <br>
        <ul>
            <li>
                Medidas absolutas: cm , mm, in, px, pt , pc
                <br>
                A medida pc é chamada de paica.
            </li>
            <li>
                Medidas relativas: em, ex, rem, vw, vh, %
                <br>
                A medida rem é o tamanho da letra relativa a fonte que está configurada no body. A medida vw é relativo a viewport da largura e vh é relativo a viewport da altura.
            </li>
        </ul>
    </p>
    <p>
        As medidas de cm e mm não devem ser usadas pois cada tela pode interpretar essa medida de um forma diferente.
        <br>
        O mesmo pode ser dito sobre px, onde algumas telas podem possuir tecnologia diferente em que um pixel não é de fato um pixel.
        <br>
        Ponto e paica são medidas de tipografia utilizada em papel, não deve ser usado em meio digital.
    </p>
    <p>
        A recomendação da W3C é utilizar somente as medidas "px" e "em"
    </p>
    <p>
        Por padrão as fontes tem tamanho 16px. 
        <br>
        1em é igual a 16px. Gustavo Guanabara recomenda usar "em" pois utiliza com porcentagem do tamanho padrão.
    </p>

    <h3>
        Simplificando as fontes.
    </h3>

    <p>
        Além de escolher qual tipo de fonte vai usar, é possível escolher também sua espessura, tamanho e estilo.
        <ul>
            <li>
                <code class="alterandoErroTamanho"><ins>&lt;font-weight&gt;</ins></code> : permite escolher a espessura da fonte. Os valores passados são: lighter, normal, bold e bolder. Não são todas as fontes que permitem todas essas opções.
            </li>
            <li>
                <code class="alterandoErroTamanho"><ins>&lt;font-size&gt;</ins></code> : altera o tamanho da fonte.
            </li>
            <li>
                <code class="alterandoErroTamanho"><ins>&lt;font-style&gt;</ins></code> : permite alterar o estilo da fonte. Os valores passados podem ser : italic, normal, oblique, initial, inherit.
            </li>
        </ul>
    </p>

    <p>
        Para simplificar todos esses códigos e utilizá-los em somente uma linha existe a tag de CSS <code><ins>&lt;font:&gt;</ins></code> onde os valores passados depois do dois pontos seguem a ordem: font-style, font-weight, font-size, font-family.
        <br>
        Por exemplo: <code><ins>&lt;font:italic lighter 1.5em 'Work Sans',sans-serif</ins></code>
    </p>
    <p>
        Essa facilidade de edição de fontes no CSS é chamada shorthand. É possível também deixar uma das tags vazias, ou seja, deixar de passar seu argumento, porém eu prefiro passar todos e se eu não quiser alterar nada daquela tag eu passo seu valor padrão, mas não o deixo vazio.
    </p>

    <h3>
        Utilizando fontes externas
    </h3>


    <ul>
        <li>
            <h4>
                Google Fonts
            </h4>
        </li>
        <p>
            O site do <a href="https://fonts.google.com/">Google Fontes</a> possui centenas de fontes para serem usadas nos sites.
        </p>

        <li>
            <h4>
                Fontes baixadas/Fontes próprias
            </h4>
        </li>
        <p>
            Existem também outros sites como <a href="https://www.dafont.com/pt/">Dafont.com</a> onde você faz o download da fonte nos formatos OTF(open type font) e TTF(true type font)
        </p>
        <p>
            Além desses dois existem também os formatos embedded-opentype, truetype-aat(Apple Advanced Typography) e SVG.
        </p>
        <p>
            Para incorporar essas fontes no código é preciso usar regra/seletor <code><ins>&lt;@font-face{}</ins></code>.
            <br>
            Como em audios e vídeos, pode ocorrer de a fonte não funcionar direito no site, então devo usar diferentes extensões no código. E também fontes usadas internamente podem deixar o site mais lento, o mesmo que ocorre com audios e vídeos.
            <br>
            Também é preferível colocar todas as fontes baixadas dentro de uma pasta chamada fontes para melhor organização.
        </p>

        <li>
            <h4>
                Descobrindo fontes
            </h4>
        </li>
        <p>
            Para descobrir a fonte que está sendo utilizada em determinado site basta usar a extensão do Chrome Fonts Ninja.
        </p>

        <li>
            <h4>
                Descobrindo fontes em imagens
            </h4>
        </li>
        <p>
            Para capturar uma fonte em uma imagem os sites <a href="https://www.whatfontis.com/">whatfontis.com</a> e <a href="https://www.fontsquirrel.com/">fontsquirrel.com</a> são os melhores para isso, porém o primeiro permite mais edições para capturar melhor a imagem.
        </p>
    </ul>

    <hr>

    <h1>Minhas cores</h1>

    <p>
        <a href="https://coolors.co/48acf0-dbd3ad-6f584b-f6c5af-001c55" target="_blank" rel="external">Cores do site Coolors: azul, marrom e rosa.</a>
    </p>
    <p>
        <a href="https://coolors.co/e0e0e2-81d2c7-b5bad0-7389ae-416788" target="_blank" rel="external">Cores do site Coolors: Vários azuis</a>
    </p>

    <hr>

    <footer>
        <h1>
            Outras explicações
        </h1>

        <p>
            <a href="./testeCores1.html">Teste de cores 1</a>
        </p>

        <p>
            <a href="./classId.html">Explicando uso de Class e Id</a>
        </p>
    </footer>
</body>

</html>