@charset "UTF-8";

* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: linear-gradient(to right, #F6C5AF, #6F584B 80%); /*posso usar quantas cores eu quiser para criar o degradê*/
}

main {
    background-color: #DBD3AD;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #001c55aa;
    width: 600px;
    padding: 20px;
    margin: auto;
}

h1 {
    color: #001C55;
    text-align: center;
    text-shadow: 2px 2px 5px #6f584b85;
}

h2 {
    color: #001C55;
}

p {
    text-align: justify;
}

li {
    padding: 2px;
    text-align: justify;
}