<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de cores 1</title>
    <style>
        * { /* Tudo que está dentro do asterístico é considerado configuração global */
            height: 100%;
        }
        body {
            background-image: linear-gradient(to bottom, #001c55, #dbd3ad);
            background-attachment: fixed;
        }
    </style>
</head>


<body>
    <h1>
        Teste de cores
    </h1>
    <p>
        No site principal do estudo de CSS o degradê funcionou sem problemas, mas aqui tive que fazer algumas modificações e mesmo assim não está tão certo quanto lá.
    </p>
</body>

</html>