<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/images/box_favicon1.ico" type="image/x-icon">
    <title> Keeper </title>
</head>


<body>
    <h1> Keeper: segurando suas encomendas</h1>
    <p>
        Colocarei a imagem desse cara sorrindo no fundo da página de cadastro de usuário, só não sei se eu faço isso usando CSS ou HTML
    </p>

    <picture>
        <source media="(max-width: 690px)" srcset="../public/images/delivery_man_smartphone.jpg" type="image/jpg">
        <source media="(max-width: 1060px)" srcset="../public/images/delivery_man_tablet.jpg" type="image/jpg">
        <img src= "../public/images/delivery_man_1199.jpg" alt="Entregador feliz">
    </picture>

    <p>
        Atualizar o tamanho da imagem na tela do usuário é importante para diminuir a taxa de bounce rate, ou seja, evitar que os usuários somente entrem no site e fique pouco tempo nele. Para o Google, um site que pessoas ficam pouco tempo nele não é um bom site.
    </p>
    
</body>

</html>